doctype html
html
    head
        title Beowulf Beard Co

        style.
            html,
            body {
            padding: 0;
            margin: 0;
            }

            p,
            span,
            b,
            em,
            abbr,
            div,
            h1,
            h2,
            h3,
            h4,
            h5,
            a {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.4;
            margin: 0;
            box-sizing: border-box;
            }

            h1,
            h2,
            h3,
            h4,
            h5 {
            font-family: Helvetica, Arial, sans-serif;
            }

            p,
            span,
            b,
            em,
            abbr,
            div {
            font-size: 14px;
            color: #222;
            }

            a {
            color: white !important;
            text-decoration: none;
            }

            img {
            vertical-align: sub;
            }

            table {
            margin: 0;
            padding: 0;
            }
            table.table {
            min-width: 50%;
            max-width: 2000px;
            margin: 0 auto;
            background-color: white;
            }
            table td {
            margin: 0 auto;
            }
            .center {
                text-align: center;
            }
            .right {
                text-align: right;
            }

            .left {
                text-align: left;
            }

            .util--divider {
                border-right: 1px solid #e1e1e1;
                width: 50%;
            }

            .wrapper {
                background-color: #e1e1e1
            }

            .banner {
                background-color: #3a3a3a;
                color: white;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 50px;
            }

            .orderInfo--table {
                border-collapse: collapse;
                margin: 0 auto;
            }

            .product--image {
                height: 100px;
                width: 100px;
                background-color: #e1e1e1;
            }

            .product--details * {
                margin-bottom: 7px;
            }

            td {
                padding: 30px;
            }

            .footer p,
            a {
                color: white;
                opacity: 0.8;
                font-size: 10px;
                opacity: 0.8;
            }

            .util--extraPadding {
                padding-right: 60px;
            }

            .box {
                background-color: #f4f4f4;
                padding: 30px;
            }

            .spacer {
                padding: 15px;
            }

            .text {
                max-width: 600px;
                margin: 0 auto;
            }

    body
        div.wrapper
            table.table(cellpadding="0", cellspacing="0")
                tr
                    td(colspan="2").banner
                        h3 Thank you for your order!
                tr
                    td(colspan="2").util--extraPadding.center
                        p.text.center Dear #{locals.customerName},
                        br
                        p.text.center #{locals.message}
                tr
                    td(colspan="2")
                        table.orderInfo--table
                            tbody
                                each val in locals.items
                                    tr.product
                                        td
                                            img.product--image(src=val.image)
                                        td.right.product--details
                                            h2= val.title
                                            p Qty: #{val.quantity}
                                            p Price:  #{val.price}
                            tfoot
                                tr
                                    td(colspan="2")
                                        hr
                                tr
                                    td
                                        b TOTAL:
                                    td(colspan="2")
                                        p.right
                                            b #{locals.total}
                tr
                    td.util--divider
                        p.center.box Shipping Address:
                    td
                        p.center.box #{locals.customerAddress}
                tr
                    td.spacer
                tr
                    td.util--divider
                        p.center.box Confirmation number:
                    td
                        p.center.box #{locals.id}
                tr
                    td

                tr.banner.footer
                    td.left
                        a(href='www.beowulf.com') www.beowulf.com
                    td.right
                        p beowulf@something.com